## .NET
bin/
obj/
out/
*.user
*.suo
*.cache
*.dbmdl
*.jfm
*.pdb
*.log
TestResults/

## Node / Next.js
node_modules/
.next/
out/
*.tsbuildinfo

## Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

## Docker
*.pid
