@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/experience-os.css";
@import "../styles/home.css";
@import "../styles/vehicles.css";
@import "../styles/booking.css";
@import "../styles/booking-options.css";
@import "../styles/rental-time.css";
@import "../styles/payment-and-policy.css";

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}